  <div class="row">
    <div class="large-3 columns">
    <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  </div></div>
  <div class="row">
    <div class="large-3 columns">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autofocus: true %>
    </div>
    <div class="large-3 columns left">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, autofocus: true %>
    </div>
  </div>
    <div class="row">
    <div class="large-3 columns">
      <%= f.label :email, 'Email *' %>
     <%= f.email_field :email, autofocus: true, placeholder: 'We will contact you on this email' %>
    </div>
    
  </div>
  <div class="row">
    <div class="large-3 columns">
      <%= f.label :password, 'Create a password *' %> 
      <%= f.password_field :password, autocomplete: "off", placeholder: 'To check application status'  %>
    </div>
    <div class="large-3 columns left">
      <%= f.label :password_confirmation,'Password Confirmation *' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Retype the exact password' %>
    </div> 
  </div>
  <div class="row">
    <div class="large-6 columns">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns left">
      <%= f.label :phone_number %>
     <%= f.text_field :phone_number, placeholder: 'Best contact number' %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      <%= f.label :address, 'Street Address' %> 
      <%= f.text_field :address %>
    </div>
    <div class="large-3 columns left">
      <%= f.label :city %>
    <%= f.text_field :city %>
    </div> 
  </div>
   <div class="row">
    <div class="large-3 columns">
      <%= f.label :state %> 
      <%= f.text_field :state %>
    </div>
    <div class="large-3 columns left">
      <%= f.label :zip_code %>
    <%= f.text_field :zip_code %>
    </div> 
  </div>
<!--
<#% if can? :assign_roles, @user %> 

  <#% for role in User::ROLES %>
  <#%= check_box_tag "user[roles][#{role}]", role, @user.roles.include?(role), {:name => "user[roles][]"}%>
  <#%= label_tag "user_roles_#{role}", role.humanize %><br />
<#% end %>
<#%= hidden_field_tag "user[roles][]", "" %>
<#% end %> -->

  <div class="row">
    <div class="large-3 columns">
       <%= f.submit "Sign up", class:"button" %>
    </div>
  </div>
  <% end %>


