<div class="row">   
  <div class="large-12 columns"> 
    <div class="large-3 columns">
      <ul class="pricing-table left-side">
        <li class="title"> Currently we have </li>
        	<li class="bullet-item"><h3><%= pluralize(@jobs.count, 'Job opening') %></h3></li>
      </ul> 


      
<%= render 'candidates/jobs_applied' %>

<table>
  <tbody>
    <td><img src="http://www.agcensus.usda.gov/Partners/Drop_Ins/Half_page_vertical_Census%20ad_orange.jpg"></td>
  </tbody>
  </table>
    </div>

    <div class="large-9 columns">
    	<% @jobs.each do |job| %>
			
			<h4><%= link_to job.title, job_path(job), :data => { :no_turbolink => true } %> <br><small><%= job.position_type %> | <%= job.location %> | <span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has-tip [tip-top tip-bottom tip-left tip-right] [radius round]" title="Job Published Date"> <%= job.created_at.strftime("%B %d, %Y") %></span></small></h4>

			

      <% if can? :manage, Candidate %>
			<div class="panel">
			<%= link_to pluralize(job.candidates.count, 'candidate'), job_candidates_path(job) %> applied. 
			</div>
		<% end %><hr>
    <% end %>

    </div>
  </div>
</div>

  

