<div class="row">   
  <div class="large-12 columns"> 
    <div class="small-4 medium-4 large-3 columns hide-for-small">
      <ul class="pricing-table left-side">
        <li class="title"> Currently we have </li>
        	<li class="bullet-item"><h3><%= pluralize(@jobs.count, 'Job opening') %></h3></li>
      </ul> 
      <% if can? :manage, User %>
      <ul class="pricing-table left-side hide-for-small">
        <li class="title"> Current moderators </li>
          <li class="bullet-item"><% User.where(roles_mask: 2).all.each do |user| %>
      <%= link_to user.full_name, user_path(user) %> <br>
    <% end %></li>
      </ul> <% end %>



      
<%= render 'candidates/jobs_applied' %>

    </div>

<% if can? :manage, Page %>
       <div class="small-4 medium-8 large-5 columns hide-for-small">

      <div class="panel ">
        <%= link_to 'Create a New Page', new_page_path, class:'button radius '%>
  <%= link_to 'Create a New Job', new_job_path, class:'button radius success'%>
  


<table>
  <thead>     
    <tr>
      <th>Page Name</th>
      <th>Navigation</th>
    </tr>
  </thead>
  
  <tbody><% Page.all.each do |page|%>
    <tr>
      <td><%= link_to page.name, page_path(page) %></td>
      <td> <%= page.nav %></td>
    </tr> <% end %>
  
  </tbody>
</table>

 
</div>
</div> 



<% end %>

   <div class="large-9 columns">

    	<% @jobs.each do |job| %>
      <% if job.closedate.future? %>
		
			<h4><%= link_to job.title, job_path(job), :data => { :no_turbolink => true } %> <br><small><%= job.position_type %> | <%= job.location %> | <span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has-tip tip-bottom radius " title="Application closing date"> <%= job.closedate.strftime("%B %d, %Y") %></span></small></h4>

			

      <% if can? :manage, Candidate %>
			<div class="panel">
			<font color="gray"><%= link_to pluralize(job.candidates.count, 'candidate'), job_candidates_path(job) %> applied. <% if job.candidates.interview.count > 0 %>| <%= job.candidates.interview.count %> requested for interview. <% end %><% if job.candidates.under_consideration.count > 0 %>| <%= job.candidates.under_consideration.count %> under consideration <% end %><% if job.candidates.declined.count > 0 %>| <%= pluralize(job.candidates.declined.count, 'was', 'were') %> declined. <% end %>
			</div>
		<% end %><hr>
    <% end %>
      <% end %>

    </div>

    <div class="large-9 columns right">
      <% @jobs.each do |job| %>
      <% if !job.closedate.future? %>
    
      <h4><%=  job.title %> <br><small><%= job.position_type %> | <%= job.location %> | <span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" class="has-tip tip-bottom radius " title="Application closing date"> Closed <%= time_ago_in_words(job.closedate) %> ago</span></small></h4>

      

      <% if can? :manage, Candidate %>
      <div class="panel">
      <font color="gray"><%= link_to pluralize(job.candidates.count, 'candidate'), job_candidates_path(job) %> applied. <% if job.candidates.interview.count > 0 %>| <%= job.candidates.interview.count %> requested for interview. <% end %><% if job.candidates.under_consideration.count > 0 %>| <%= job.candidates.under_consideration.count %> under consideration <% end %><% if job.candidates.declined.count > 0 %>| <%= pluralize(job.candidates.declined.count, 'was', 'were') %> declined. <% end %>
      </div>
    <% end %><hr>
    <% end %>
      <% end %>

    </div>
  </div>
</div>



  

