<div class="row">
    <div class="large-12 columns">
    	<%= image_tag avatar_url(@user)%> <br>
<%= @user.first_name %> <%= @user.last_name %> <br><%= @user.email%> <br>
<strong>Roles:</strong>  <%= @user.roles.to_sentence %> 

<%= form_for @user do |f| %>
<% if can? :assign_roles, @user %>
<% for role in User::ROLES %>
  <%= check_box_tag "user[roles][#{role}]", role, @user.roles.include?(role), {:name => "user[roles][]"}%>
  <%= label_tag "user_roles_#{role}", role.humanize %><br />
<% end %>
<%= hidden_field_tag "user[roles][]", "" %>
 <%= f.submit "Assign Role", class:"button" %>
<% end %>
<% end %>
</div>
</div>