<div class="row">
  <div class="large-3 columns">
    <%= render 'all' %> <!-- sidebar for all candidates, editable in views/candidates/_all.html.erb -->
  </div>

  <div class="large-3 columns">
    <%= render 'jobs_applied' %> <!-- sidebar for all jobs the candidate applied to, editable in views/candidates/_jobs_applied.html.erb -->
  </div>

  <div class="large-9 columns right">
    <%= render 'vcard' %> <!-- Candidate vcard (name, avatar etc., editable in views/candidates/_vcard.html.erb -->
  </div>

  <% if can? :manage, Vote %>
    <%= render 'vote_count' %>
  <% end %>

  <div class="large-9 columns right">
    <%= render 'status_message' %> <!-- Application status messages, edit it in views/candidates/_status_message.html.erb -->
  </div>

  <% if can? :manage, Vote %>
    <%= render 'vote'%> <!-- Vote button, edit it in views/candidates/_vote.html.erb -->
  <% end %>
      
  <div class="large-9 columns right">
    <h4><small>Job Title: <%= @candidate.job.title %></small></h4>
    <dl class="tabs" data-tab>
      <dd class="active"><a href="#panel1"><strong>Cover Letter</strong></a></dd>
      <dd><a href="#panel2"><strong>Resume</strong> </a></dd>
    </dl>

    <div class="tabs-content">
      <div class="content active" id="panel1">
        <p><%=simple_format @candidate.cover_letter %></p>
      </div>
    <div class="content" id="panel2">
      <p><%=simple_format @candidate.resume %></p>
    </div>
  </div>



  <% if can? :manage, Role %>
  <p>
    <div class="row">

      <div class="large-12 columns right">
        <div class="panel radius">
          <strong>Hiring manager status setup
          <small><em>Visible only to the admin</em></small>
          </strong><br><br>
        
        <div class="large-4 columns">Set Applicant Status: </div>

        <div class="large-4 columns left">
          <%= form_for [@job, @candidate] do |f|%>
            <%= f.select :status, ['Application Received', 'Under Consideration', 'Declined', 'Interview Request']%> 
        </div>

        <div class="large-4 columns left"> 
          <%= f.submit 'Update Candidate Status' %> 
          <% end %>
        </div> <br> <br>
        </div>
      </div>
    </div>
  <% end %>


    
  
<div class="row">
  <% if can? :manage, Comment %>
    <div class="large-12 columns right">
      <div class="panel radius">

        <strong>Internal discussion 
        <small><em>Visible only to the hiring team and manager</em></small></strong>
        <br><br>
        <%= form_for [@job, @candidate, @comment] do |f|%>
          <%= f.text_area :body, placeholder: 'Your Comment' %>
          <%= f.submit  %>
        <% end %>
        <hr>

        <% @candidate.comments.each do |comment| %>
          <strong><%= comment.user.first_name %>:</strong> 
          <em><%= comment.body %> </em>
          <hr>
        <% end %>
      </div>
    </div>
  <% end %>
</div></div></div>
    

    